html{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(5, 119, 128, 0.5)), url("./images/star-wars-ship-hub.jpg");
    height: 100vh;
    background-size: contain;
    background-position: center;
    

  
}

h1, p {
  margin: 5px;
  font-family: Impact;
  color:darkorange;
  
}


h2{
  
  font-family: fantasy;
  color: yellow;
  display: inline;
  border: 1px solid yellow;
  background-color: black;
  padding: 5px;
  margin:10px;
}
h2:hover{
  box-shadow: red 4px 4px 4px 8px;
}

p {
  font-size: 25px;
  font-family: Impact;
}

.Bounty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 32px;
}

.bounty-component {
  display: inline-flex;
  background: none;
  border: 8px double #fd6106;
  padding: 10px;
  margin: 5px;

}

.bounty-component:hover{
  box-shadow: rgb(235, 94, 12) 8px 4px 4px 8px ;
}


form{
  background: rgb(72, 72, 218);
  border: 5px solid rgb(65, 31, 255);
  padding: 10px;
  margin: 5px;

}
form:hover{
  box-shadow: hsl(268, 100%, 58%) 8px 4px 8px 8px;
}

input {
  font-family: Impact;
  color: crimson;
  background: linear-gradient( 45deg , black, transparent);
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
}

.addBounty-btn {
  background-color: blueviolet;
  color: white;
  font-family: fantasy;
}
.edit-btn{
  font-size: 16px;
  background: mediumturquoise;
  color: green;
}
.delete-btn {
  font-family: fantasy;
  background-color: red;
  color:black
}